---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-6 col-sm-4">
      <%= partial "layouts/card" %>
   </div>
    <div class="col-xs-6 col-sm-4">
      <%= partial "layouts/card" %>
   </div>
    <div class="col-xs-6 col-sm-4">
      <%= partial "layouts/card" %>
   </div>
  </div>
</div>



